{{>head}}

{{>navbar}}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam cumque iusto omnis, odio ad delectus consequuntur nihil suscipit molestiae earum neque nobis commodi nemo inventore iure amet repellendus animi itaque.</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/darth_pedro.jpg" class="img-thumbnail">
        </div>
    </div>
</div>

{{>footer}}